/* ==========================================================================
   Settings
   ========================================================================== */


/* Z-index
   ========================================================================== */

$zindex-dropdown:           1000;
$zindex-popover:            1010;
$zindex-route-overlay:      1025;
$zindex-sidemenu:           1029;
$zindex-wait:               1080;
$zindex-header:             2000;
$zindex-overlay:            3000;
$zindex-modal-backdrop:     4000;
$zindex-modal:              4100;
$zindex-tooltip:            5000;
$zindex-notification-area:  6000;





$base-radius: 3px;
